.galleria {
    width: 1100px;
    height: 500px;
    background: #000
}
.gallery {
    width: 100%;
    height: 100%;
}
.gallery:hover {
    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;
}
.gallery-column {
    width: 33%;
    text-align: center;
    float: right;
	padding-bottom:2rem;
}
.colleft{
	padding-right:3rem;
	}
.colmid{
	padding:0 1.5rem;
	}
.colright{
	padding-left:3rem;
	}
.content-left {
    padding-right: 0px;
    padding-left: 0px;
}
.carousel {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-image {
    width: 100%;
    height: 831px;
    overflow: hidden;
}
.indexmain {
    width: 100%;
    height: 100%;
}
.container {
    padding-top: 15px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
.container-contact {
    padding-top: 15px;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    height:inherit;
}
body, html{
  height:100%;
}
.bottom {
    display:table-cell;
    height:100%; /* take as much as possible */
}
.maps iframe {
    pointer-events: none;
}
.page-wrap{
  min-height: 100%;
}
.maps{
  padding-bottom: 15px;
}
.footer{
    padding-top: 10px;
}
.footer, .page-wrap:after {
    height: 50px;
    background-color: #464646;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position:absolute;

}
.footer small {

    color: #FFFFFF;
    font-size: 15px;
}
body {
    font-family: source-sans-pro;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
}
.about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-top: 0px;
}
.social {
    margin: 15px;
}
.section{
  text-align: center;
}
@media (max-device-width: 375px) {
    .social {
        width: 50%;
        text-align: center;
    }
}
.social:hover {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
}
.social-div {
    width: 25%;
    height: 30%;
    text-align: center;
    float: left;
    margin-top: 10px;
}
@media (max-device-width: 375px) {
    .social-div {
        width: 50%;
        height: 25%;
        text-align: center;
        float: left;
        margin-top: 10px;
    }
}
.aboutlogo {
    float: right;
}
.tab {
    text-indent: 30px;
}
.text_column {
    width: 33%;
    text-align: justify;
    font-weight: lighter;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}
.thumbnail {
    width: 25%;
    height: 160px;
    text-align: center;
    float: left;
    margin-top: 10px;
}
.stats {
    margin-bottom: 5px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.full-team-bios .full-bio .bio-img{
  width: 100%;
  margin-top: -15px;
}
.full-team-bios .full-bio .bio-name {
    font-family: 'Nixie One';
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.full-team-bios .full-bio .bio-title {
    margin-bottom: 10px;
    font-weight: 600;
}
.full-team-bios .full-bio .bio-text {
    line-height: 28px;
    font-size: 23px;
}
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: 25%;
}
.photo-thumbnails {
    float: left;
    margin-left: 3.125%;
    margin-top: 3.125%;
    width: 30.20833333%;
}
/*menu stylizing*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    font-family: Raleway, sans-serif;
    line-height: 1;
}
#cssmenu > ul {
    height: 60px;
    background: #a60d0d;
    background-image: -webkit-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -moz-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -ms-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -o-linear-gradient(top, #a60d0d, #4a1010);
    background-image: linear-gradient(to bottom, #a60d0d, #4a1010);
}
#cssmenu > ul > li {
    left: 102px;
    float: left;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
#cssmenu > ul > li > a {
    padding: 20px 20px;
    font-size: 20px;
    height: 59px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: #a60d0d;
    background-image: -webkit-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -moz-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -ms-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -o-linear-gradient(top, #a60d0d, #4a1010);
    background-image: linear-gradient(to bottom, #a60d0d, #4a1010);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
    color: #FFFFFF;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    color: #FFFFFF;
    -webkit-transform: rotateX(90deg) translateY(-23px);
    -moz-transform: rotateX(90deg) translateY(-23px);
    transform: rotateX(90deg) translateY(-23px);
    -ms-transform: none;
}
#cssmenu > ul > li > a::before {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 20px 20px;
    color: #FFFFFF;
    background: #FFFFFF;
    content: attr(data-title);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
    background: #a60d0d;
    background-image: -webkit-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -moz-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -ms-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -o-linear-gradient(top, #a60d0d, #4a1010);
    background-image: linear-gradient(to bottom, #a60d0d, #4a1010);
}
#cssmenu.small-screen {
    width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
    background: #a60d0d;
    background-image: -webkit-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -moz-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -ms-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -o-linear-gradient(top, #a60d0d, #4a1010);
    background-image: linear-gradient(to bottom, #a60d0d, #4a1010);
}
#cssmenu.small-screen > ul > li > a::before {
    display: none;
}
#cssmenu.small-screen #menu-button {
    display: block;
    padding: 25px 20px;
    height: 60px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #a60d0d;
    background-image: -webkit-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -moz-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -ms-linear-gradient(top, #a60d0d, #4a1010);
    background-image: -o-linear-gradient(top, #a60d0d, #4a1010);
    background-image: linear-gradient(to bottom, #a60d0d, #4a1010);
}
#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #dff2fa;
    border-bottom: 2px solid #dff2fa;
}
#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
    background: #dff2fa;
}
@media (min-width: 321px)and (max-width: 767px) {
    .text_column {
        width: 100%;
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    .thumbnail {
        width: 100%;
    }
    .image-cropper {
    width: 150px;
    height: 150;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1096px) {
    .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    left: 25%;
    }
    .text_column {
        width: 100%;
    }
    .thumbnail {
        width: 100%;
        height: 15%;
    }
    .thumbnail p {
        font-size: 30px;
    }
    .thumbnail h2 {
        font-weight: 900;
    }
    .text_column {
        font-size: 20px;
        width: 100%;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}
@media (max-device-width: 375px) {
    .mobile-hide {
        display: none;
    }
}
@media (max-device-width: 768px) {
    .mobile-hide {
        display: none;
    }
}